
.defaultTextColor {
  color : #ff6600;
}
.toggled{
  display: block !important;
}
.moveLeft{
  right : 250px;
  position: absolute;
}
#sidebar-wrapper{
  height : 100%;
  width : 250px;
  float : right;
  position : absolute;
  right : 0px;
  top : 0px;
  background: #000;
  opacity: 0.5;
  display: none;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.egenImg{
  height:100%;
  width:100%;
}

.imgSpan{
    height:80px;
    width:80px;
    padding-right:3px;
    padding-top: 3px;
    display:inline-block;
    float:left;
    margin-top: 10px;
}

.headingDiv{
    height : 100px ;
}

#menu-toggle{
    float:right;
    height: 40px;
    margin-top: 30px;
    line-height: 50px;
}
.userButton{
    color: #ff6600;
    border-color: #ff6600;
    float:right;
}
.userHeading{
    height: 44px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.userText{
    display: inline-block;
    float: left;
    height: 34px;
}