<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading userHeading" >
        <div class="userText">Users Details</div>
        <input class="btn btn-default userButton" type="button" value="< Back" ng-click= "back()">
    </div>
    <dl>
        <dt class="defaultTextColor">Name</dt>
        <dd>{{ selectedUser.firstName  + selectedUser.lastName }}</dd>
        <dt class="defaultTextColor">Email</dt>
        <dd>{{ selectedUser.email }}</dd>
        <dt class="defaultTextColor">Address</dt>
        <dd> {{ selectedUser.address.street }}</dd>
        <dd> {{ selectedUser.address.city + ',' + selectedUser.address.state + ',' + selectedUser.address.country + ',' + selectedUser.address.zip }}</dd>
        <dt class="defaultTextColor">Comapny</dt>
        <dd> {{ selectedUser.company.name + '  ' +selectedUser.company.website }} </dd>
    </dl>

    <input class="btn btn-default" type="button" value="Delete User" ng-click= "deleteUser()" ng-disabled="deleted" style="background-color: #ff6600">
    <div class="alert alert-success" ng-show="deleted === true">
        <strong>Success!</strong> User successfully deleted
    </div>
    <div class="alert alert-danger" ng-show = "deleted === false" >
        <strong>Error!</strong> User couldn't be deleted, try again....
    </div>

</div> <!-- End of view -->
